<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hoverable Sidebar Menu HTML CSS & JavaScript</title>
    <link rel="stylesheet" href="/styles/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>
      .criteria input[type="checkbox"] {
        transform: scale(0.8); /* Adjust the scale factor as needed to make the checkbox smaller */
        margin-right: 5px; /* Add some space between the checkbox and text */
      }
    
      .criteria label.activity {
        display: inline-block;
      }

      .checkbox{
        width: 30px;
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 0px;
        box-shadow: 0 0 0 white;
        border-color: white;
      }
    </style>
    
  </head>
  <body>
    <nav class="sidebar">
      <div class="logo_items flex">
        <span class="nav_image">
          <img src="images/logo.png" alt="logo_img" />
        </span>
        <span class="logo_name">Appraisal</span>
      </div>

      <div class="menu_container">
        <div class="menu_items">
          <ul class="menu_item">
            <li class="item">
              <a href="studBucket1" class="link flex">
                <!-- <span class="icon">SD-1</span> -->
                <span><strong style="color: black;">SD1</strong> -Average student attendance (during PA evaluation period)</span>
              </a>
            </li>
            <li class="item">
              <a href="/studBucket2" class="link flex">
                <!-- <span class="icon">SD-2</span> -->
                <span><strong style="color: black;">SD2</strong> -Course Result (preceding semester of PA evaluation)</span>
              </a>
            </li>
            <li class="item">
              <a href="/studBucket3" class="link flex">
                <span class="icon">SD-3</span>
                <span><strong style="color: black;">SD3</strong> -Topper Marks (preceding semester of PA evaluation)</span>
              </a>
            </li>
            <li class="item">
              <a href="/studBucket4" class="link flex">
                <span class="icon">SD-4</span>
                <span><strong style="color: black;">SD4</strong> -Student feedback (during PA evaluation period)</span>
              </a>
            </li>
            <li class="item">
              <a href="/studBucket5" class="link flex">
                <span class="icon">SD-5</span>
                <span><strong style="color: black;">SD5</strong> -Mentoring</span>
              </a>
            </li>
          </ul>
        </div>

        <div class="sidebar_profile flex">
          <div class="user-details">
            <span class="nav_image">
              <img src="images/profile.jpg" alt="logo_img" />
            </span>
            <div class="data_text">
                <span class="name">David</span>
              <span class="email">david@gmail.com</span>
            </div>
          </div>
          <div class="user-logout">
            <i class="fa-solid fa-right-from-bracket fa-2x"></i>
            <a href="/logout">Logout</a>
          </div>
        </div>
      </div>
    </nav>

    <nav>
      <div class="navbar">
        <div class="bar-icon">
          <i class="fa-solid fa-bars" onclick="toggleSidebar()"></i>
        </div>

        <div class="nav-items">
          <div class="home nav-items"><a href="/index">Home</a></div>
        <div class="profile nav-items"><a href="/profile">Profile</a></div>
        <div class="profile-img nav-items"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSzBXNuO6PezhC18aYH_2cYtS0I7KbxoKYdwA&usqp=CAU" onclick="toggleMenu()"></div>
        </div>

        <div class="sub-menu-wrap" id="subMenu">
          <div class="sub-menu">
            <div class="user-info">
              <img src="images/user.png">
              <h3>Aditi Ganji</h3>
            </div>
            <hr>
            <a href="profile" class="sub-menu-link">
              <img src="/images/profile.jpg">
              <p>Edit Profile</p>
              <span>></span>
            </a>

            <a href="profile" class="sub-menu-link">
              <img src="/images/setting.png">
              <p>Settings</p>
              <span>></span>
            </a>

            <a href="/logout" class="sub-menu-link">
              <img src="/images/logout.png">
              <p>Log Out</p>
              <span>></span>
            </a>
          </div>
        </div>
      </div>
    </nav>

    <div class="buckets">
      <div class="bucket-item bucket1">Academic Involvement</div>
      <div class="bucket-item bucket2">Student Development</div>
      <div class="bucket-item bucket3">Administrative Bucket</div>
      <div class="bucket-item bucket4">Research Bucket</div>
      <div class="bucket-item bucket5">Consultancy and Corporate Training</div>
      <div class="bucket-item bucket6">Product Dev. Bucket</div>

    </div>

    <div class="form-container">
      <form action="/" class="form">
        <div class="criteria"><p>No. of Meetings</p>
            <select name="selectedOption1" class="option-list" id="select1" required>
                <option value="">Select Option</option>
                <option value="1" required>3 meetings or more</option>
                <option value="2" required>2 meetings</option>
                <option value="3" required>Less than 2 meetings</option>
            </select>
        </div>
        <div class="criteria"><p>Awards won by mentee under guidance of Mentor</p>
            <select name="selectedOption2" class="option-list" id="select2" required>
                <option value="">Select Option</option>
                <option value="1" required>Yes</option>
                <option value="2" required>No</option>
            </select>
        </div>
        <div class="criteria"><p>Professional and Personal Development of Mentee:</p>
          <input type="checkbox" id="activity1" name="activity1" class="checkbox">
        <label for="activity1" class="activity">A1-SWOC analysis and mentoring</label><br>
        <input type="checkbox" id="activity2" name="activity2" class="checkbox">
        <label for="activity2" class="activity">A2-Defining student specific goals and tracking if the student sticks to these goals or the goals are changed</label><br>
        <input type="checkbox" id="activity3" name="activity3" class="checkbox">
        <label for="activity3" class="activity">A3-Relevant VAC chosen by mentee on advice of Mentor</label><br>
        <input type="checkbox" id="activity4" name="activity4" class="checkbox">
        <label for="activity4" class="activity">A4-Rapport with Family(Home Visit/Engaging with Parent/s etc)</label><br>  
        </div>
        <div class="criteria"><p>Feedback from Final Year student (based on 3 years of Mentoring)</p>
            <select name="selectedOption4" class="option-list" id="select4" required>
                <option value="">Select option</option>
                <option value="1" required>More than 3.5</option>
                <option value="2" required>3 to 3.5</option>
                <option value="3" required>2.5 to 3</option>
                <option value="4" required>Below 2.5</option>
            </select>
        </div>

        <div class="criteria">
          <label for="file">Upload Evidence</label>
          <input type="file" name="file" accept=".pdf, .jpg, .jpeg, .png" />
        </div>
     
        <div class="button"><button class="saveButton">Save</button></div>
      </form>
    </div>
          
     
  </div>

  <script>
    let subMenu = document.getElementById("subMenu");
    let sidebar = document.querySelector('.sidebar');
    let classIcon = document.querySelector('.bar-icon');
    let buckets = document.querySelector('.buckets');
    let formContainer = document.querySelector('.form-container');

    function toggleMenu() {
      subMenu.classList.toggle("open-menu");
    }

    function toggleSidebar() {
      sidebar.classList.toggle('sidebar-hidden');
      classIcon.classList.toggle('sidebar-hidden');
      buckets.classList.toggle('sidebar-hidden');
      formContainer.classList.toggle('sidebar-hidden');
    } 
  </script>
  </body>
</html>



