<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Buckets</title>
    <link rel="stylesheet" href="studentBuckets.css">
</head>
<body>
    <nav>
        <div class="navbar">
          <div class="bar-icon">
            <i class="fa-solid fa-bars" onclick="toggleSidebar()"></i>
          </div>
  
          <div class="nav-items">
            <div class="home nav-items"><a href="/index">Home</a></div>
            <div class="approve nav-items"><a href="/approve">Approve</a></div>
          <div class="profile nav-items"><a href="#">Profile</a></div>
          <div class="profile-img nav-items"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSzBXNuO6PezhC18aYH_2cYtS0I7KbxoKYdwA&usqp=CAU" onclick="toggleMenu()"></div>
          </div>
  
          <div class="sub-menu-wrap" id="subMenu">
            <div class="sub-menu">
              <div class="user-info">
                <img src="/images/user.png">
                <% if(locals){%>
                  <h3><%= name %></h3>
                  <% } %>
              </div>
              <hr>
              <a href="profile" class="sub-menu-link">
                <img src="/images/profile.jpg">
                <p>Edit Profile</p>
                <span>></span>
              </a>
  
              <a href="profile" class="sub-menu-link">
                <img src="/images/setting.png">
                <p>Settings</p>
                <span>></span>
              </a>
  
              <a href="/logout" class="sub-menu-link">
                <img src="/images/logout.png">
                <p>Log Out</p>
                <span>></span>
              </a>
            </div>
          </div>
        </div>
      </nav>
    <div class="container">
        <div class="sec-1">
            <div class="sub-bucket"><p><span>SD-1</span> Average student attendance (during PA evaluation period)</p></div>
            <div class="sub-bucket"><p><span>SD-2</span> Course Result (preceding semester of PA evaluation)</p></div>
        </div>
        <div class="sec-2">
            <div class="sub-bucket"><p><span>SD-3</span> Topper Marks (preceding semester of PA evaluation)</p></div>
            <div class="sub-bucket"><p><span>SD-4</span> Student Feedback (during PA evaluation period)</p></div>
        </div>
        <div class="sec-3">
            <div class="sub-bucket"><p><span>SD-5</span> Mentoring</p></div>
        </div>

    </div>
    <script>
        function toggleMenu() {
        subMenu.classList.toggle("open-menu");
      }
    </script>
</body>
</html>