body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(247, 246, 252);
  color: rgb(70, 71, 81);
  font-family: 'Open Sans', sans-serif;
}

/* ---------- MAIN ---------- */

.main-container {
  /* grid-area: main; */
  overflow-y: auto;
  padding: 20px 20px;
}

.main-title {
  display: flex;
  /* justify-content: space-between; */
  margin-left: 10px;
}

.details{
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: flex-start;
  height: 900px;
  background-color:white;
  padding: 25px;
  border-radius: 30px;
  box-shadow: 0 6px 7px -4px rgba(0, 0, 0, 0.2);

}

.details-card {
 
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 1400px;
  height: 350px;
  /* background-color: rgb(255, 255, 255); */
  /* padding: 25px; */
  /* border-radius: 30px;
  box-shadow: 0 6px 7px -4px rgba(0, 0, 0, 0.2); */
}

/* .details-card-photo {
  border-radius: 50%;
  margin-left: 100px;
  margin-right: 100px;
  height: 250px;
  width: 300px;
} */

.details-card-content{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.details-card-content-info{
  display: flex;
  width: 700px;
  margin-top: 10px;
  height: 50px;
}

.info-child1{
  
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:  #1e6bd6;
  width: 400px;
  height: 50px;
 
}
.info-child2{
  border: solid;
  border-width: 2px;
  border-color: gray;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 50px;
}


.details-buckets{
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 1400px;
  justify-content: space-evenly;
  height: 350px;
}

.bucketRow1{
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
}

.bucketRow2{
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;

}


.bucket{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 30px;
  color: white;
  width: 350px;
  height: 200px;
  background-color: #1e6bd6;
  
}

.bucket h2{
  
  color: white; /* Example color, you can change this */
  font-size: 20px; /* Example font size, you can change this */
  font-weight: bold; 
}
.bucket p {
  /* Your styles for the p element within elements with class 'bucket' go here */
  color: aqua; /* Example color, you can change this */
  font-size: 16px;
  
}

.bucket{
  display: flex;
  flex-direction: column;
  align-items: center; /* Optional: Align items at the center horizontally */
}

.bucket h2 {
  order: -1; /* Set a negative order to move it above the default order (which is 0) */
}

a{
  text-decoration: none;
}

.print{
  display: flex;
  justify-content: center;
  height: 100px;
  width: 1400px;
  margin-top: 30px;
}

.print-button{
  border: 2px solid  #04AA6D;
  background-color: white;
  width: 100px;
  
  color: black;
  border-radius: 10px;
}

.print-button {
  transition-duration: 0.4s;
}

.print-button:hover {
  background-color: #04AA6D; /* Green */
  color: white;
}